body
	
{
	
	margin: 0;
	width: 100%;
    overflow-x: hidden;
    
}

.expanded-element{
    list-style: none;
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.active{
    list-style: none;
    display: flex;
    justify-items: center;
    align-items: center;
    padding-top: 8%;
}

.expandable{
    display: flex;
    justify-items: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
   
}


nav.sidebar a#justify-icon {
    outline: 0;
    color: white;
    font-size: 20px;
    font-style: normal;
    padding-left: 0%;
 }
/* 
nav.sidebar{
    position:absolute;
    height:100%;
    left:0;
    overflow:hidden;
  
 } */

.title1{
    padding-right: 0%;
}

.title2{
    padding-right: 15%;
}


 .logo-title{
     background-color:#333333;
     display: flex;
     justify-content: center;
 }

 .crm-text{
     padding-top: 40%;
     color:blue;
     
 }

 .crm-title-logo{
    color: White;
    padding-top: 6%;
    
 }

 .iconstyle-title{
    color: White;
 }

 nav.sidebar .expanded-element {
    padding-left: 2%;
    /* display: none; */
    font-size: 20px;
    position: relative;
    bottom: 2px; }

.conten-menu{
    background-color:gray;
    position: relative;
    height: 100%;
    
}


.iconstyle-dashboard{
    color: blue;
}


.iconstyle-phone{
    color: coral;
   
}

.iconstyle-headset{
    color: yellow;
    
}

.iconstyle-sanbox{
    color: violet;
}

.iconstyle-hiuser{
    color: violet;
}
.iconstyle-start{
    color: yellow;
}
.iconstyle-work{
    color: yellowgreen;
}



.content-menu{
    position:absolute;
    height:100%;
    left:0;
    background-color:#999966;
    
  
 }

/* .content-menu:hover,List.content-menu.expanded {
     overflow:visible;
     opacity: 1 !important;
} */

.iconstyle-plus{
    
    font-size: 35px;
    color: blue;
}
.subnav{
    
    background-color: #999966;
}
.title-custommer{
    color: black;
    
}

.btn-back{
    height: 70%  !important;
    position: absolute ;
    top: 11%;
}





.subject-sms{
    font-size: 30px;
    color:  rgb(35, 35, 155);
    
}

.line-btn-icon{
    display: flex;
}

.btn-done{
    height: 75%;
    position: absolute;
    right: 5%;
    width: 40%;
    background-color: #007fff !important;
    color: white !important;
}



.btn-more{
    height: 75%;
    position: absolute;
    left: 1%;
    right: 3%;
    width: 40%;
    background-color: #007f00 !important;
    color: white !important;
    border-radius: 5px !important;
}

.btn-new{
    height: 75%;
    position: absolute ;
    left: 5%;
    
    border-radius: 10px !important;
    background-color: #007fff !important;
    color: white !important;
    width: 40%;
}
.group-btn{
    display: flex;
    align-items: center;
}



.avatar{
    height: 58%;
    position: absolute;
     
    left: 6%;
    
}
.subnav-icon-mobile{
    display: none  !important;
}


.box-summary{
    display: flex;
    align-items: center;
   
}
.text-summary-list{
    width: 100%;
}


.text-summmary{
    font-weight: bold !important;
    font-size: 20px !important;
    
}

.text-sms-gray{
    color: black;
    font-weight: bold !important;
}

.group-calendar{
    background-color: #aaffd4;
    
}
.group-date{
    background-color: honeydew;
}

.group-priority{
    background-color: rgb(254, 240, 255);
}

.group-purpose{
    background-color: #aaffd4;
}

.box-status{
    background-color: hotpink;
    border-radius: 15px !important;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-calendar-sche{
    font-size: 20pt !important;
}
.icon-calendar{
    padding-left: 10%;
}

.icon-calendar-sche-par{
    font-size: 25pt !important;
}

.icon-calendar-par{
    padding-right: 2%;
}

.stutus-priority{
    padding-right: 2%;
}
.icon-stutus-priority{
    font-size: 25pt;
    
}

.icon-descrip-sub{
    font-size: 25pt !important;
    color:#7f7f00;
}

.icon-stutus-purpose{
    font-size: 25pt !important;
    color:#00bfbf;
}
.stutus-purpose{
    padding-right: 2%;
}

.tab1-inctuction{
    width: 33%;
}
.tab2-timeline{
    width: 33%;
}

.tab3-more{
    width: 33%;
}

.tab1-insctuction{
    display: flex;
    align-items: center;

}

.box-tab1-insctuction{
    display: flex;
    align-items: center; 
}

.btn-tab1-insctuction{
    width: 100%;
    display: flex;
    align-items: center;
}

.btntodo-tab1-insctuction{
    background-color: rgb(0, 205, 79) !important;
    color: mintcream !important;
    width: 18%;
}

.btndoing-tab1-insctuction{
    background-color: #007fff !important;
    color:White !important;
    width: 18%;
}

.btndone-tab1-insctuction{
    background-color: #e5e5e5 !important;
    color:black !important;
    width: 18%;
}

.Card-template{
    width: 100%;
    height: 80% !important;
    
}

.card-insctuction{
    display: flex;
}

.text-template{
    color: gray;
}
.text-template{
    padding-right: 2%;
   
}

.text-template-content{
    padding-left: 3%;
    float: right;
}

.text-content{
    width: 100% !important;
    margin-top: 3%;
    height: 70% !important;
}

.tab2-timeline-date{
    background-color: #333333!important;
    color:White !important;
    border-radius: 15px !important;
    

}
.divider-date{
    padding-bottom: 5%;
}



.box-history{
    height: 90% !important;
}



.tab2-box-pen{
   background-color: #7f7f00 !important;
   margin-top: 15% !important;
   padding-left: 5%!important;
   
}
.tab2-icon-pen{
    color:White !important;
    
}


.card-text-date{
    display: flex;
}
.text-date{
    display: flex;
    justify-content: right !important;
    
}

.content-card{
    display: flex;
    justify-content: space-between;

}

.text-template-content-hour{
    padding-left: 25%;
}


.tab2-card2-template{
    margin-top: 5%;
}

.download-file-tab2{
    display: flex;
    justify-content: flex-end;
    
}




/* Mobile:width < 740px*/
@media only screen and (max-width: 767px){
	.footer .col-md-4 .col-md-4 .show-menu-all{
		border-right: solid white 0px;
		border-bottom: solid white 0px;
		margin-left: 0px;
		text-align: left;
		min-height: 0px;
	}

	.avatar{
        display: none  !important;
    }

    .sidebar-menu{
        display: none  !important; 
    }

    .content-menu{
        display: none  !important; 
    }
	
    .subnav-icon{
        display: none  !important; 
    }

    .subnav-icon-mobile{
        display: block  !important;
    }
    .box-done-new{
        float:'left',
    }

    

  }